@model TesisSys.Models.Cantones

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">¿Está seguro(a) de querer eliminar este registro?</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provincias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">No</button>
            <input class="btn btn-primary" type="submit" value="Si" />
        </div>
    }
</div>
