@model TesisSys.Models.Provincias

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt></dt>
        <dd>@{ Html.RenderAction("List", "Cantones", new { id = Model.ProvinciaID }); }</dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success"})
</p>
